<sw-page>
    <template #search-bar>
        <sw-search-bar
            initialSearchType="event_action"
            placeholder="Search"
            :initialSearch="term"
            @search="onSearch">
        </sw-search-bar>
    </template>

    <template #smart-bar-header>
        <h2>
            MappConnect Business Events
            <span v-if="total > 0"> ({{ total }})</span>
        </h2>
    </template>

    <template #smart-bar-actions>
        <mt-button
            :routerLink="{ name: 'mapp.event.config.create' }"
            variant="primary">
            Add Event
        </mt-button>
    </template>

    <template #content>
        <sw-entity-listing
            :repository="mappEventRepository"
            :columns="mappEventColumns"
            :items="items"
            :sortBy="sortBy"
            :sortDirection="sortDirection"
            :isLoading="isLoading"
            :allowInlineEdit="false"
            detailRoute="mapp.event.config.detail"
            >

            <template #column-eventName="{ item, column }">
                <strong>
                    <router-link :to="{ name: column.routerLink, params: { id: item.id } }">
                        {{ $tc('global.businessEvents.' + snakeCaseEventName(item.eventName)) }}
                    </router-link>
                </strong><br>
                {{ item.eventName }}
            </template>

            <template #column-salesChannels="{ item }">
                {{ item.salesChannels.map(s=>s.name).join(", ")}}
            </template>

            <template #column-active="{ item, isInlineEdit }">
                <sw-data-grid-column-boolean
                    :value="item.active"
                    :isInlineEdit="isInlineEdit">
                </sw-data-grid-column-boolean>
            </template>
        </sw-entity-listing>
    </template>
</sw-page>
