<sw-page class="sw-event-action-detail">
    <template #smart-bar-header>
          <h2>{{ identifier }}</h2>
    </template>

    <template #smart-bar-actions>
        <sw-button :routerLink="{ name: 'mapp.event.config.index' }">
              {{ $tc('global.default.cancel') }}
        </sw-button>

        <sw-button-process
              :isLoading="isLoading"
              :processSuccess="isSaveSuccessful"
              variant="primary"
              @update:processSuccess="saveFinish"
              :disabled="isLoading"
              @click.prevent="onSave">
              {{ $tc('sw-product.detail.buttonSave') }}
        </sw-button-process>
    </template>

    <template #content>
        <sw-card-view>
            <sw-card :isLoading="isLoading">
                <sw-container columns="75% 1fr" gap="30px">
                    <sw-text-field
                        v-if="mappEvent"
                        type="text"
                        label="Title"
                        placeholder=""
                        :value="mappEvent.title"
                        @update:value="onEventTitleUpdate">
                        >
                    </sw-text-field>
                    <sw-switch-field
                        v-if="mappEvent"
                        label="Active"
                        :value="mappEvent.active"
                        bordered
                        @update:value="onEventActiveUpdate">
                    </sw-switch-field>
                </sw-container>


                <sw-single-select
                    v-if="mappEvent && businessEvents"
                    label="Business Event"
                    :options="businessEvents"
                    :value="mappEvent.eventName"
                    required
                    labelProperty="label"
                    valueProperty="name"
                    @update:value="onEventNameUpdate">

                    <template #selection-label-property="{ item }">
                        <strong>{{ item.label }}</strong> - {{ item.name }}
                    </template>

                    <template #result-label-property="{ item, highlightSearchTerm, labelProperty, searchTerm }">
                        <strong>
                            <sw-highlight-text
                                :text="item.label"
                                :searchTerm="searchTerm">
                            </sw-highlight-text>
                        </strong>
                        {{ item.name }}
                    </template>
                </sw-single-select>

                <sw-multi-select
                    :options="salesChannels"
                    label="Sales Channels"
                    :value="selectedSalesChannels"
                    labelProperty="name"
                    valueProperty="id"
                    @item-add="onSalesChannelAdd"
                    @item-remove="onSalesChannelRemove"
                />

                <mapp-select
                    v-if="mappEvent"
                    label="Message"
                    entity="message"
                    v-bind:value="mappEvent.messageId"
                    @update:value="mappEvent.messageId = $event">
                </mapp-select>

            </sw-card>
        </sw-card-view>
    </template>
</sw-page>
